:root {
    --main-color: #f2b31f;
    --main-background-color: #fff;
    --box-shadow: inset 0px 0px 10px 0px rgb(201, 201, 201);
    --border: 1px solid rgb(208, 208, 208);
    --correct-answer: #2ab17b;
    --wrong-answer: #D81D57;
}

* {
    font-family: Raleway, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    height: 100vh;
    background-color: var(--main-color);
}

#before-game, .enter-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#before-game h1, .enter-results h1 {
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
}

#before-game a, .enter-results a {
    font-size: 2vw;
    display: block;
    background-color: var(--main-background-color);
    padding: 28px 40px;
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background-color: var(--wrong-answer);
}

.game img {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 10%;
    width: 25%;
}

.question, .answers > div {
    border: var(--border)
}

.game > .question, .game > .answers div {
    border-radius: 10px;
    background-color: var(--main-background-color);
    box-shadow: var(--box-shadow);
}

.question {
    position: absolute;
    left: 50vw;
    top: 5vh;
    transform: translate(-50%, 0%);
    width: 300px;
    height: 450px;
}

.question p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
}

.question p, .answers div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.answers {
    position: absolute;
    left: 50vw;
    bottom: 7vh;
    transform: translate(-50%, 0%);
    width: fit-content;
}

.answers div {
    width: 180px;
    height: 280px;
    display: inline-block;
    margin: -25px;
    position: relative;
}

.answers div:hover {
    z-index: 2;
    transition: transform .3s;
}

.answers:hover, .question:hover {
    cursor: pointer;
}

.answers div p {
    font-weight: 600;
    text-align: center;
}

.answers div:nth-of-type(1) {
    transform: rotate(-25deg);
}

.answers div:nth-of-type(1):hover {
    transform: rotate(-25deg) scale(1.08);
}

.answers div:nth-of-type(2) {
    transform: rotate(-10deg);
    margin-bottom: 10px;
}

.answers div:nth-of-type(2):hover {
    transform: rotate(-10deg) scale(1.08);
}

.answers div:nth-of-type(3) {
    transform: rotate(10deg);
    margin-bottom: 10px;
}

.answers div:nth-of-type(3):hover {
    transform: rotate(10deg) scale(1.08);
}

.answers div:nth-of-type(4) {
    transform: rotate(25deg);
}

.answers div:nth-of-type(4):hover {
    transform: rotate(25deg) scale(1.08);
}

#after-game {
    width: 50vw;
    display: block;
    margin: auto;
}

#after-game div {
    padding: 25px
}

#after-game .answer-question {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
}

#after-game .answer {
    padding: 4px;
}