* {
    font-family: Raleway, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    height: 100vh;
    background-color: #f2b31f;
}

.game img {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 10%;
    width: 25%;
}

.question, .answers > div {
    border: 1px solid rgb(208, 208, 208);
}

.game > div:first-of-type, .game > div:nth-of-type(2) div {
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0px 0px 10px 0px rgb(201, 201, 201);
}

.question {
    position: absolute;
    left: 50vw;
    top: 5vh;
    transform: translate(-50%, 0%);
    width: 300px;
    height: 450px;
}

.question p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
}

.question p, .answers div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.answers {
    position: absolute;
    left: 50vw;
    bottom: 7vh;
    transform: translate(-50%, 0%);
    width: fit-content;
}

.answers div {
    width: 180px;
    height: 280px;
    display: inline-block;
    margin: -25px;
    position: relative;
}

.answers div:hover {
    z-index: 2;
    transition: transform .3s;
}

.answers:hover, .question:hover {
    cursor: pointer;
}

.answers div p {
    font-weight: 600;
    text-align: center;
}

.answers div:nth-of-type(1) {
    transform: rotate(-25deg);
}

.answers div:nth-of-type(1):hover {
    transform: rotate(-25deg) scale(1.08);
}

.answers div:nth-of-type(2) {
    transform: rotate(-10deg);
    margin-bottom: 10px;
}

.answers div:nth-of-type(2):hover {
    transform: rotate(-10deg) scale(1.08);
}

.answers div:nth-of-type(3) {
    transform: rotate(10deg);
    margin-bottom: 10px;
}

.answers div:nth-of-type(3):hover {
    transform: rotate(10deg) scale(1.08);
}

.answers div:nth-of-type(4) {
    transform: rotate(25deg);
}

.answers div:nth-of-type(4):hover {
    transform: rotate(25deg) scale(1.08);
}